html {
    background: rgb(37, 40, 49);
}

@keyframes box-appear {
    from {
        opacity: 0;
        scale: 0.7;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.box-appear {
    animation: box-appear 0.2s forwards ease-in-out;
}

.box-disapear {
    animation: box-appear 0.2s forwards ease-in-out reverse;
}

#authentication-box {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    display: flex;
    flex-direction: column;

    z-index: 1;
}

#authentication-box-image {
    width: 300px;
    height: auto;

    margin-left: auto;
    margin-right: auto;
}

#signin-box {
    display: flex;
    flex-direction: column;

    align-items: center;
}

#createaccount-box {
    display: flex;
    flex-direction: column;

    align-items: center;

    /* Starting properties for animation */
    display: none;
}