/* Styles for the Card UI element */

.card_card {
    margin: 10px;
    
    width: 500px;
    transition: all 0.2s;
    perspective: 900px;

    aspect-ratio: 1.75;
}

.card_card_front, .card_card_back {
    padding: 2em;
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    text-align: left;
    backface-visibility: hidden;
    transform-style: preserve3d;
    transition: all 0.4s;

    border-radius: 10px;

    -webkit-box-shadow: 0px 10px 29px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 29px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 29px 0px rgba(0, 0, 0, 0.75);

    background-color: white;
}

.card_card_back {
    transform: rotateY(-180deg);
}

.card_flipped .card_card_back {
    transform: rotateY(0deg);
}

.card_flipped .card_card_front {
    transform: rotateY(180deg);
}