html {
    background: rgb(37, 40, 49);
}

#welcome-box {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    display: flex;
    flex-direction: column;

    z-index: 1;
}

#welcome-box-image {
    width: clamp(40vh, 400px, 40vw);
    height: auto;

    margin-left: auto;
    margin-right: auto;
}

#welcome-box-buttons {
    display: flex;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;
    margin-top: clamp(2vh, 20px, 2vw);

    align-items: center;
}

#blob {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    width: clamp(40vh, 400px, 40vw);
    height: auto;
    aspect-ratio: 1;
    border-radius: 200px;
    filter: blur(70px);

    z-index: 0;

    background: rgb(61,132,148);
    background: linear-gradient(120deg, rgba(61,132,148,1) 9%, rgba(34,73,139,1) 47%, rgba(37,210,108,1) 91%); 
}