:root {
    --default-background-color: #35374B;
    --default-font-family: "Nato Sans", sans-serif;
    --default-transition: 0.3s ease;
    --default-text-color: white;

    --color-primary: #35374B;
    --color-secondary: #344955;
    --color-tertiary: #50727B;
    --color-quaternary: #78A083;

    --default-glass-background: rgba(180, 180, 180, 0.4);
    --default-glass-border: rgba(167, 167, 167, 0.5) 2px solid;
    --default-glass-blur: blur(20px);

}