html {
    background: rgb(37, 40, 49);
}

#editor_header {
    display: flex;
    flex-direction: column;
}

#editor_header_title {
    display: flex;
    flex-direction: row;
}

#editor_header_title_image {
    height: clamp(5vh, 50px, 5vw);
}

#editor_header_title_text {
    font-family: var(--default-font-family);
    font-size: clamp(3vh, 30px, 3vw);
    color: var(--default-text-color);
    margin: 0;
    padding: 0;

    margin-left: clamp(1vh, 10px, 1vw);
    margin-top: clamp(0.5vh, 5px, 0.5vw);
}

#editor_header_title_home {
    margin-left: 0px;
}

#editor_header_name {
    display: flex;
    flex-direction: row;
    margin-left: clamp(2vh, 20px, 2vw);
}

#editor_header_name_button:hover {
    scale: 1.1;
    background-color: rgba(99, 99, 99, 0.6);
}

#editor_header_name_button:active {
    scale: 0.9;
}

#editor_header_name_text_cardname {
    color: var(--default-text-color);
    padding-left: clamp(1vh, 10px, 1vw);
}

#editor_header_name_text_username {
    color: var(--default-text-color);
    margin-left: clamp(0.8vh, 8px, 0.8vw);
}

#editor_status {
    color: var(--default-text-color);
    font-family: var(--default-font-family);
    font-size: clamp(1.4vh, 14px, 1.4vw);

    padding: clamp(0.5vh, 5px, 0.5vw);
    padding-left: clamp(1vh, 10px, 1vw);
    padding-right: clamp(1vh, 10px, 1vw);
    margin: 0px;
    margin-left: clamp(2vh, 20px, 2vw);

    background-color: var(--default-glass-background);
    border: var(--default-glass-border);
    backdrop-filter: var(--default-glass-blur);
    border-radius: 20px;
    transition: var(--default-transition);

    width: fit-content;
}

@media (min-width: 1000px) {
    /* Large screens */

    #editor_main {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 1000px) {
    /* Small Screens */

    #editor_main {
        display: flex;
        flex-direction: column;
    }
}

#editor_main_settings {
    margin-left: clamp(2vh, 20px, 2vw);
    margin-right: clamp(2vh, 20px, 2vw);
    padding-top: clamp(2vh, 20px, 2vw);

    display: flex;
    flex-direction: column;
}

#editor_main_settings_layout_buttons {
    display: flex;
    flex-direction: row;
    margin-top: clamp(1vh, 10px, 1vw);
    margin-left: auto;
    margin-right: auto;
}

@keyframes show-iconselector {
    from {
        opacity: 0;
        scale: 0.8;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes hide-iconselector {
    from {
        opacity: 1;
        scale: 1;
    }

    to {
        opacity: 0;
        scale: 0.8;
    }
}

.show-iconselector {
    animation: show-iconselector 0.2s ease-in-out forwards;
}

.hide-iconselector {
    animation: hide-iconselector 0.2s ease-in-out forwards;
}

@media (min-width: 1000px) {
    /* Large screens */

    #editor_iconselector {
        background-color: var(--default-glass-background);
        border: var(--default-glass-border);
        backdrop-filter: var(--default-glass-blur);
        border-radius: 20px;
    
        aspect-ratio: 1;
        width: auto;
        height: 40%;
        max-height: 40%;
    
        z-index: 3;
    
        position: fixed;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    
        padding: clamp(1.5vh, 15px, 1.5vw);
    
        display: flex;
        flex-direction: column;
    
        display: none; /* Keep hidden until needed */
    
        /* Starting properties for animation */
        opacity: 0;
        scale: 0.8;
    }
}

@media (max-width: 1000px) {
    /* Small Screens */

    #editor_iconselector {
        background-color: var(--default-glass-background);
        backdrop-filter: var(--default-glass-blur);
    
        aspect-ratio: 1;
        width: calc(100vw - 1.5vh);
        height: 100vh;
        max-height: 100vh;
    
        z-index: 3;
    
        position: fixed;
        top: 0px;
        left: 0px;
    
        padding: clamp(1.5vh, 15px, 1.5vw);
    
        display: flex;
        flex-direction: column;
    
        display: none; /* Keep hidden until needed */
    
        /* Starting properties for animation */
        opacity: 0;
        scale: 0.8;
    }
}

#editor_iconselector_top {
    display: flex;
    flex-direction: row;
}

#editor_iconselector_top_search {
    height: clamp(2vh, 20px, 2vw);
    max-height: clamp(2vh, 20px, 2vw);
    margin-bottom: clamp(1vh, 10px, 1vw);
}

#editor_iconselector_icons {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;

    margin-top: clamp(0.5vh, 5px, 0.5vw);
}

.editor-iconselector-icon {
    background-color: var(--default-glass-background);
    border: var(--default-glass-border);
    backdrop-filter: var(--default-glass-blur);
    transition: var(--default-transition);
    border-radius: 10px;

    width: 15%;
    height: auto;
    aspect-ratio: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: clamp(0.8vh, 8px, 0.8vw);

    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
}

.editor_iconselector_icon:hover {
    scale: 1.05;
}

.editor_iconselector_icon:active {
    scale: 0.95;
}

.editor_iconselector_icon_icon {
    color: var(--default-text-color);
    font-size: clamp(3vh, 30px, 3vw);
    text-align: center;
    margin-top: clamp(0.3vh, 3px, 0.3vw);
}

.editor_iconselector_icon_text {
    color: var(--default-text-color);
    font-family: "Noto Sans Mono", "Courier New", monospace;
    font-size: clamp(1vh, 10px, 1vw);
    text-align: center;
    user-select: none;
}

@keyframes show_rename {
    from {
        opacity: 0;
        scale: 0.8;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes hide_rename {
    from {
        opacity: 1;
        scale: 1;
    }

    to {
        opacity: 0;
        scale: 0.8;
    }
}

.show_rename {
    animation: show_rename 0.2s ease-in-out forwards;
}

.hide_rename {
    animation: hide_rename 0.2s ease-in-out forwards;
}

@media (min-width: 1000px) {
    /* Large screens */

    #editor_rename {
        background-color: var(--default-glass-background);
        border: var(--default-glass-border);
        backdrop-filter: var(--default-glass-blur);
        border-radius: 20px;
    
        z-index: 3;
    
        position: fixed;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    
        padding: clamp(2vh, 20px, 2vw);
    
        display: flex;
        flex-direction: column;
    
        display: none; /* Keep hidden until needed */
    
        /* Starting properties for animation */
        opacity: 0;
        scale: 0.8;
    }

    #editor_rename_input {
        width: clamp(40vh, 400px, 40vw);
    }
}

@media (max-width: 1000px) {
    /* Small Screens */

    #editor_rename {
        background-color: var(--default-glass-background);
        border: var(--default-glass-border);
        backdrop-filter: var(--default-glass-blur);
        border-radius: 20px;
    
        z-index: 3;
    
        position: fixed;
        top: 50vh;
        left: 50vw;
        translate: -50% -50%;
    
        padding: clamp(2vh, 20px, 2vw);
    
        display: flex;
        flex-direction: column;
    
        display: none; /* Keep hidden until needed */
    
        /* Starting properties for animation */
        opacity: 0;
        scale: 0.8;
    }

    #editor_rename_input {
        width: clamp(30vh, 300px, 30vw);
    }
}

#editor_rename_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

#editor_main_preview_share {
    margin-top: clamp(2vh, 20px, 2vw);
    margin-bottom: clamp(2vh, 20px, 2vw);
}

#editor_main_preview_demo {
    margin-top: clamp(2vh, 20px, 2vw);
    margin-bottom: clamp(2vh, 20px, 2vw);
}

#qrcode {
    display: none;
}

.item {
    display: flex;
    flex-direction: column;
}

.item_item {
    display: flex;
    flex-direction: row;
}

.item_menu {
    display: flex;
    flex-direction: column;
    margin-left: clamp(5vh, 50px, 5vw);

    background-color: var(--default-glass-background);
    border: var(--default-glass-border);
    backdrop-filter: var(--default-glass-blur);
    border-radius: 20px;
    padding: 5px;
}

.item_menu > button {
    text-align: left;
}

.editor_main_setting {
    margin-bottom: clamp(2vh, 20px, 2vw);
}

#editor_main_setting_font_selector {
    background-color: var(--default-glass-background);
    border: var(--default-glass-border);
    backdrop-filter: var(--default-glass-blur);
    border-radius: 20px;
    margin-top: clamp(1vh, 10px, 1vw);
}

#editor_main_setting_font_selector_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    align-items: baseline;
    padding-left: clamp(1.5vh, 15px, 1.5vw);
}

.editor_font_item {
    display: flex;
    flex-direction: row;
}

#editor_main_setting_font_selector_items {
    display: flex;
    flex-direction: column;
}

.editor_font_item > button {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.editor_main_setting_font_selector_items_labels {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: end;

    margin-left: clamp(1.5vh, 15px, 1.5vw);
    margin-right: clamp(1vh, 10px, 1vw);
    
}

@keyframes show-item {
    from {
        opacity: 0;
        scale: 0.8;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.item {
    animation: show-item 0.3s ease-in-out forwards;

    /* Starting properties for animation */
    opacity: 0;
    scale: 0.8;
}