asgiref==3.8.1
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
django-environ==0.11.2
Django==5.0.3
django-colorfield==0.11.0
docopt==0.6.2
Flask==3.0.3
grip==4.6.2
gunicorn==22.0.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
Markdown==3.6
MarkupSafe==2.1.5
packaging==24.1
path-and-address==2.0.1
pillow==10.3.0
psycopg2-binary==2.9.9
Pygments==2.18.0
requests==2.32.3
sqlparse==0.4.4
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.3
pytest==8.3.3