apipkg==3.0.2
apparmor==4.0.1
Brlapi==0.8.5
Brotli==1.1.0
cepces==0.3.9
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
cmdln==2.0.0
colorama==0.4.6
configobj==5.0.8
createrepo_c==1.1.0
cryptography==42.0.8
cssselect==1.2.0
cupshelpers==1.0
decorator==5.1.1
dlib==19.24.4
extras==1.0.0
greenlet==3.0.3
gssapi==1.8.3
idna==3.7
importlib_resources==6.1.1
iniconfig==2.0.0
ipaddr==2.2.0
LibAppArmor==4.0.1
libvirt-python==10.5.0
libxml2-python==2.12.8
louis==3.29.0
lxml==5.2.2
meson==1.4.1
msgpack==1.0.7
mysqlclient==2.2.4
nftables==0.1
notify2==0.3.1
numpy==1.26.4
olefile==0.46
opi==5.2.1
packaging==24.1
pillow==10.3.0
protontricks==1.11.1.dev0+g3bb2496.d20240105
psutil==5.9.7
py==1.11.0
pycairo==1.26.0
pycparser==2.22
pycups==2.0.4
pycurl==7.45.3
pygdbmi==0.11.0.0
Pygments==2.18.0
pygobject==3.48.2
pynvim==0.5.0
pyOpenSSL==24.1.0
pysmbc==1.0.25.1
PySocks==1.7.1
python-linux-procfs==0.7.3
pyudev==0.24.3
requests==2.32.3
requests-gssapi==1.3.0
rpm==4.19.1.1
six==1.16.0
termcolor==2.4.0
urllib3==2.1.0
vdf==3.4
yt-dlp==2024.7.1
