{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/@phosphor-icons/web"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{% static '/main/variables.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/main/ui.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static '/main/authentication.css' %}">

        <link rel="shortcut icon" type="image/png" href="{% static '/main/images/favicon_light.ico' %}"/>

        <meta name="darkreader-lock">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cardie | Authentication</title>
    </head>

    <body>
        <div id="authentication-box" x-data="{ sign_in: true }">
            {% csrf_token %}

            <img id="authentication-box-image" src="{% static '/main/images/logo_light.png' %}">

            <div class="ui_status_critical" id="authentication-error" style="display: none;">
                <i class="ph-bold ph-warning-octagon ui_status_icon"></i>
                <p class="ui_status_text">Critical status box</p>
            </div>

            <div id="signin-box" x-show="sign_in">
                <p class="ui_text_header"><i class="ph-bold ph-keyhole"></i> Sign In</p>
                <div class="ui_separator_horizontal"></div>

                <input id="signin-username" type="text" class="ui_input_generic" placeholder="Username"></input>
                <input id="signin-password" type="password" class="ui_input_generic" placeholder="Password"></input>
            
                <button id="signin-signin" class="ui_button_large"><strong>Sign In</strong> <i class="ph-bold ph-sign-in"></i></button>
                <button id="signin-createaccount" class="ui_button_small" @click="sign_in = !sign_in">Create an Account <i class="ph-bold ph-arrow-right"></i></button>
            </div>

            <div id="createaccount-box" x-show="!sign_in">
                <p class="ui_text_header"><i class="ph-bold ph-key"></i> Create Account</p>
                <div class="ui_separator_horizontal"></div>

                <input id="createaccount-username" type="text" class="ui_input_generic" placeholder="Username"></input>
                <input id="createaccount-password" type="password" class="ui_input_generic" placeholder="Password"></input>
                <input id="createaccount-email" type="text" class="ui_input_generic" placeholder="Email"></input>
            
                <button id="createaccount-createaccount" class="ui_button_large"><strong>Create Account</strong> <i class="ph-bold ph-user-plus"></i></button>
                <button id="createaccount-signin" class="ui_button_small" @click="sign_in = !sign_in">Sign In <i class="ph-bold ph-arrow-right"></i></button>
            </div>
        </div>

        {% include "footer.html" %}

        <script>
            var server_ip = "{{ server_ip }}";
            var production = "{{ production }}";
        </script>

        <script src="{% static '/main/scripts/global/favicon.js' %}"></script>
        <script src="{% static '/main/scripts/authentication/authentication.js' %}"></script>
    </body>
</html>