{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% block head_scripts %}{% endblock head_scripts %}

        <script src="https://unpkg.com/@phosphor-icons/web"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{% static '/main/variables.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/main/ui.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/main/footer.css' %}">
        {% block stylesheets %}{% endblock %}

        <link rel="shortcut icon" type="image/png" href="{% static '/main/images/favicon_light.ico' %}"/>

        <meta name="darkreader-lock">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{% url "config_js" %}"></script>
        <title>Cardie | {% block head_title %}{% endblock %}</title>
    </head>

    <body>
        {% block body %}{% endblock %}
        {% include "footer.html" %}

        <script>
            var server_ip = "{{ server.ip }}";
            var production = "{{ server.production }}";
            var username = "{{ username }}"
        </script>

        <script src="{% static '/main/scripts/global/favicon.js' %}"></script>
        <script src="{% static '/main/scripts/global/logging.js' %}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
