{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/@phosphor-icons/web"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{% static '/main/variables.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/main/ui.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/main/card.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static '/main/card_view.css' %}">

        <link rel="shortcut icon" type="image/png" href="{% static '/main/images/favicon_light.ico' %}"/>

        <meta name="darkreader-lock">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cardie</title>
    </head>

    <body>
        <div id="cardview">
            <div id="cardview-text">
                <p class="ui_text_subheader_left" id="cardview-text-cardname">Card name</p>
                <p class="ui_text_body" id="cardview-text-username">Created by username</p>
            </div>

            <div id="cardview_card">
                {% include "card.html" %}
            </div>
        </div>
        
        {% include "footer.html" %}

        <script>
            var server_ip = "{{ server_ip }}";
            var production = "{{ production }}";
        </script>

        <script src="{% static '/main/scripts/card_view/card_view.js' %}"></script>

        <script src="{% static '/main/scripts/global/card.js' %}"></script>
        <script src="{% static '/main/scripts/global/.js' %}"></script>
    </body>
</html>