<div class="card_wrap">
    <div class="card_card" card-align="left">
        <div class="card_card_front">
            <div class="card_content">
                <div class="card_top">
                    <img class="card_top_profilepicture">
                    <div class="card_top_text">
                        <p class="card_top_text_username">username</p>
                        <p class="card_top_text_pronouns">pronouns</p>
                    </div>
                </div>
                <div class="card_items"></div>
            </div>
        </div>
        <div class="card_card_back">
            <div class="card_content">
                <p>Back of card</p>
            </div>
        </div>
    </div>
</div>
<dialog id="dialog_card_menu"
        class="ui_dialog_generic"
        x-data="{ single: false }">
    <div class="ui_dialog_generic_top">
        <p class="ui_text_subheader_left ui_dialog_generic_top_text">All Items</p>
        <button class="ui_button_icon ui_dialog_generic_top_close">
            <i class="ph-bold ph-x-circle"></i>
        </button>
    </div>
    <div id="dialog_card_menu_items"></div>
</dialog>
