{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/@phosphor-icons/web"></script>

        <link rel="stylesheet" type="text/css" href="{% static '/main/variables.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/main/ui.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static '/main/home.css' %}">

        <link rel="shortcut icon" type="image/png" href="{% static '/main/images/favicon_light.ico' %}"/>
        <title>Cardie | Home</title>
    </head>

    <body>
        <div id="home-top">
            <div id="home-top-logo">
                <img id="home-top-image" src="{% static '/main/images/logo_light.png' %}">
                <p id="home-top-text" class="ui_text_subheader_left">Hello, {{ username }}</p>
            </div>

            <div id="home-top-profile">
                <button id="home-top-username" class="ui_button_small">{{ username }} <i class="ph-bold ph-caret-down"></i></button>
            </div>

            
        </div>

        <div id="home-navigation">
            <button id="home-navigation-wallet" class="ui_button_grid">Wallet <i class="ph-bold ph-wallet"></i></button>
            <button id="home-navigation-cards" class="ui_button_grid">My Cards <i class="ph-bold ph-cards"></i></button>
        </div>

        <div id="home-wallet">
            <p class="ui_text_subheader_left"><i class="ph-bold ph-wallet"></i> My Wallet</p>
        </div>

        <div id="home-cards">
            <p class="ui_text_subheader_left"><i class="ph-bold ph-cards"></i> My Cards</p>

        </div>

        <script src="{% static '/main/scripts/home.js' %}"></script>
        <script src="{% static '/main/scripts/favicon.js' %}"></script>
    </body>
</html>