{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/@phosphor-icons/web"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{% static '/main/variables.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/main/ui.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/main/notifications.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static '/main/home.css' %}">

        <link rel="shortcut icon" type="image/png" href="{% static '/main/images/favicon_light.ico' %}"/>

        <meta name="darkreader-lock">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cardie | Home</title>
    </head>

    <body>
        <div id="home-top">
            <div id="home-top-logo">
                <img id="home-top-image" src="{% static '/main/images/logo_light.png' %}">
                <p id="home-top-text" class="ui_text_subheader_left">Hello, {{ username }}</p>
            </div>

            <div id="home-top-profile" x-data="{ open: false }" @click="open = !open">
                <button id="home-top-username" class="ui_button_small">{{ username }} <i class="ph-bold ph-caret-down"></i></button>

                <div id="home-top-profile-dropdown" x-show="open" x-transition>
                    <button class="ui_button_small" @click="log_out()"><i class="ph-bold ph-sign-out"></i> Log Out</button>
                </div>
            </div>

        </div>

        <div x-data="{ 
            cards: true,
            cards_disabled: true,
            wallet_disabled: false
        }">
            <div id="home-navigation">
                <button id="home-navigation-wallet" class="ui_button_grid" 
                    @click="cards = false; cards_disabled = false; wallet_disabled = true;" 
                    x-bind:disabled="wallet_disabled"
                >Wallet <i class="ph-bold ph-wallet"></i></button>

                <button id="home-navigation-cards" class="ui_button_grid" 
                    @click="cards = true; wallet_disabled = false; cards_disabled = true;" 
                    x-bind:disabled="cards_disabled"
                >My Cards <i class="ph-bold ph-cards"></i></button>
            </div>

            <div id="home-wallet" x-show="!cards" x-transition> 
                <p class="ui_text_subheader_left"><i class="ph-bold ph-wallet"></i> My Wallet</p>

                <div class="ui_status_info">
                    <i class="ph-bold ph-info ui_status_icon"></i>
                    <p class="ui_status_text">Your Wallet is coming soon!</p>
                </div>
            </div>

            <div id="home-cards" x-show="cards" x-transition>
                <p class="ui_text_subheader_left"><i class="ph-bold ph-cards"></i> My Cards</p>
                <button class="ui_button_small" id="home_cards_create" @click="create_new_card()"><i class="ph-bold ph-plus-circle"></i> Create new Card</button>
            </div>
        <div>

        <div id="home_card_menu">
            <button class="ui_button_small"><i class="ph-bold ph-pencil-simple-line"></i> Edit</button>
            <button class="ui_button_small"><i class="ph-bold ph-cursor-text"></i> Rename</button>
            <button class="ui_button_small"><i class="ph-bold ph-link"></i> Copy Link</button>
            <div class="ui_separator_horizontal"></div>
            <button class="ui_button_small"><i class="ph-bold ph-trash"></i> Delete</button>
        </div>

        <div class="background_blur"></div>

        {% include "footer.html" %}

        <script>
            var server_ip = "{{ server_ip }}";
            var production = "{{ production }}";
            var username = "{{ username }}"
        </script>

        <script src="{% static '/main/scripts/home/home.js' %}"></script>
        <script src="{% static '/main/scripts/global/favicon.js' %}"></script>
        <script src="{% static '/main/scripts/global/notifications.js' %}"></script>
        <script src="{% static '/main/scripts/global/logging.js' %}"></script>
        <script src="{% static '/main/scripts/global/background_blur.js' %}"></script>
    </body>
</html>