{% extends "base.html" %}
{% load static %}
{% block head_title %}Privacy Policy{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static '/main/privacy.css' %}">
{% endblock %}
{% block body %}
    <div id="privacy">
        <p class="ui_text_header_left">
            <i class="ph-bold ph-lock"></i> Privacy Policy
        </p>
        <p id="privacy_lastupdated" class="ui_text_description">Last updated 10/15/24</p>
        <div class="ui_separator_horizontal"></div>
        <div id="privacy_content">
            <p class="ui_text_subheader_left privacy_header">
                <i class="ph-bold ph-hard-drives"></i> What data is collected?
            </p>
            <div class="privacy_content_section">
                <p class="ui_text_subheader_left">
                    <i class="ph-bold ph-user"></i> User
                </p>
                <p class="ui_text_body">Username</p>
                <p class="ui_text_body">Password</p>
                <p class="ui_text_description">
                    <i class="ph-bold ph-lock"></i> This value is encrypted on the server
                </p>
                <p class="ui_text_body">Email</p>
                <p class="ui_text_body">The date and time the Account was created</p>
                <p class="ui_text_body">Wallet data</p>
                <p class="ui_text_description">This is a field that reflects all of the Cards stored in a User's account</p>
            </div>
            <div class="privacy_content_section">
                <p class="ui_text_subheader_left">
                    <i class="ph-bold ph-cards"></i> Card
                </p>
                <p class="ui_text_body">UUID</p>
                <p class="ui_text_body">Card name</p>
                <p class="ui_text_body">Card owner</p>
                <p class="ui_text_body">Card data</p>
                <p class="ui_text_description">This is a piece of JSON data which contains everything the card needs to be rendered.</p>
                <p class="ui_text_body">Card date created</p>
                <p class="ui_text_body">Card date last edited</p>
            </div>
            <div class="privacy_content_section">
                <p class="ui_text_subheader_left">
                    <i class="ph-bold ph-cards"></i> Temporary Card
                </p>
                <p class="ui_text_body">UUID</p>
                <p class="ui_text_body">Card data</p>
                <p class="ui_text_description">This is a piece of JSON data which contains everything the card needs to be rendered.</p>
                <p class="ui_text_body">Card date created</p>
            </div>
            <div class="privacy_content_section">
                <p class="ui_text_body">
                    You can check the most up to date model files in the <a href="https://github.com/nfoert/cardie">source code</a>.
                    The files are <a href="https://github.com/nfoert/cardie/blob/main/cardie/authentication/models.py">here</a>
                    and <a href="https://github.com/nfoert/cardie/blob/main/cardie/main/models.py">here</a>.
                </p>
            </div>
            <p class="ui_text_subheader_left privacy_header">
                <i class="ph-bold ph-globe"></i> What data is shared?
            </p>
            <p class="ui_text_body">Nothing. Ever. Your data will never be sold or shared to any third party. It's only used inside Cardie and will remain on this server.</p>
        </div>
    </div>
{% endblock %}
